:animation {
    --padding : calc(env(safe-area-inset-left) + 24px);
}

@keyframes profile {
    from {
        transform:translate(calc(-50% + 50vw - 24px), calc(-50% + 30vh)) scale(1); box-shadow:0 16px 32px rgba(0,0,0,0.1);
    }
    to {
        transform:translate(calc(0% + 0vw - 0px), calc(-50% + 0vh)) scale(0.15); box-shadow:0 16px 32px rgba(0,0,0,0);
    }
}