body {
    font-family:"Noto Sans KR", sans-serif;
}

:root {
    --background:255,255,255;
    --white:255,255,255;
    --black:0,0,0;
    --paper:242,242,242;
    --dark:24,24,24;
    --text:#1a1a1a;
}

.flex-box {
    display:-webkit-flex;
    display:flex;
}
.flex-left {
    justify-content:flex-start;
}
.flex-right {
    justify-content:flex-end;
}
.flex-top {
    align-items:flex-start;
}
.flex-bottom {
    align-items:flex-end;
}
.flex-center {
    justify-content:center;
}
.flex-middle {
    align-items:center;
}
.flex-wrap {
    flex-wrap:wrap;
}
.flex-nowrap {
    flex-wrap:nowrap;
}
.flex-row {
    flex-direction:row;
}
.flex-row-re {
    flex-direction:row-reverse;
}
.flex-col {
    flex-direction:column;
}
.flex-col-re {
    flex-direction:column-reverse;
}
.flex-com {
    height:100%;
    display:-webkit-flex;
    display:flex;
    justify-content:center;
    align-items:center;
}
.flex-fill {
    flex:1;
}

.over-h {
    overflow:hidden;
}

.no-touch {
    user-select:none;
    -webkit-user-drag:none;
}


.bg-black {
    background-color:rgb(var(--black));
}
.t-white {
    color:rgb(var(--white));
}